UPLOADTHING_SECRET='sk_live_4fd48fd808783f9d9a037f73ad178580aba2bdef3d8927f2901c23b025f4ba9f'
UPLOADTHING_APP_ID='eyJhcGlLZXkiOiJza19saXZlXzRmZDQ4ZmQ4MDg3ODNmOWQ5YTAzN2Y3M2FkMTc4NTgwYWJhMmJkZWYzZDg5MjdmMjkwMWMyM2IwMjVmNGJhOWYiLCJhcHBJZCI6Im81aWFoNnp4MHIiLCJyZWdpb25zIjpbInNlYTEiXX0='
